  {% load i18n %}
   <h5 class="alert alert-warning">{% trans "个人认证" %}</h5>

    <td width="120" align="right">电子邮件</td>
    <td width="auto" align="left"><code>{{ user.email }}</code></td>

    <div class="inner">
        <form method="post" action="{% url 'settings_email' %}">
            {% csrf_token %}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td width="120" align="right">当前邮箱</td>
                    <td width="auto" align="left">{{ user.email }}</td>
                </tr>
                <tr>
                    <td width="120" align="right">邮件地址验证</td>
                    {% if user.email_verify == 0 %}
                        <td width="auto" align="left"><span class="orange">邮件地址尚未完成验证</span></td>
                    {% else %}
                        <td width="auto" align="left"><span class="green">邮件地址已经验证</span></td>
                    {% endif %}
                </tr>
                {% if user.email_verify == 0 %}
                    <tr>
                        <td width="120" align="right"></td>
                        <td width="auto" align="left">
                            <button class="btn btn-sm"
                                    onclick="if (confirm('你确认要向 {{ user.email }} 重新发送验证邮件？')) { resendVerificationEmail('{{ user_detail_obj.user.email }}'); }"
                                    id="ButtonResendVerification" type="button">
                                <li class="fa fa-refresh"></li>
                                重发验证码
                            </button> &nbsp; <span id="ResendResponse" class="gray"></span></td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td width="120" align="right" valign="top"></td>
                    <td width="auto" align="left">
                    <span class="f14">
                        如果你希望更改你的注册邮件地址，请在下方输入框中填入新的邮件地址。
                        <br><br>
                        然后我们会向此地址发送一封确认信，你需要在 8 小时内点击其中的链接，然后才能完成注册邮件地址更改。
                    </span>
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right" valign="top">
                        <div class="sep5"></div>
                        新邮箱
                    </td>
                    <td width="auto" align="left">
                        <input type="email" class="sls" name="new_email" value="">
                        <div class="sep5"></div>
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">账号密码</td>
                    <td width="auto" align="left">
                        <input type="password" class="sls" name="password" value="">
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right"></td>
                    <td width="auto" align="left">
                        <input type="submit" class="btn btn-sm" value="更改邮箱">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

<div class="inner">
            <form method="post" action="{% url 'settings_password' %}">
                {% csrf_token %}
                <table cellpadding="5" cellspacing="0" border="0" width="100%">
                    <tbody>
                    <tr>
                        <td width="120" align="right">当前密码</td>
                        <td width="auto" align="left">
                            <input type="password" class="sl" name="password_current" value=""></td>
                    </tr>
                    <tr>
                        <td width="120" align="right">新密码</td>
                        <td width="auto" align="left">
                            <input type="password" class="sl" name="password_new" value="">
                        </td>
                    </tr>
                    <tr>
                        <td width="120" align="right">再次输入新密码</td>
                        <td width="auto" align="left">
                            <input type="password" class="sl" name="password_again" value="">
                        </td>
                    </tr>
                    <tr>
                        <td width="120" align="right"></td>
                        <td width="auto" align="left">
                            <input type="submit" class="btn btn-sm" value="更改密码"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>


        <br>
        <p class="text-muted">遇到问题请联系站长：
            <a href="mailto:beaock@gmail.com">beaock@gmail.com</a>
        </p>