{% extends "base.html" %}
{% load staticfiles %}
{% load weibo_utils %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}个人信息 - 2zzy 爱钻研{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'cropper/cropper.min.css' %}">

    <div class="container">
    <br>
    <br>

    <div style="text-align: center" class="mb-4">
        {% if user.socialaccount_set.all.0.get_avatar_url %}
            <!-- 第三方头像 -->
            <img src="{% translate_avatar_ssl user.socialaccount_set.all.0.get_avatar_url %}"
                 alt=""
                 style="max-width: 20%; border-radius: 20%"
            >
        {% else %}
            {% if userinfo.avatar %}
                <!-- 本地头像 -->
                {% if 'static' in userinfo.avatar.url %}
                    <img src="{{ userinfo.avatar }}"
                         alt=""
                         style="max-width: 20%; border-radius: 20%">
                {% else %}
                    <img src="{{ userinfo.avatar.url }}"
                         alt=""
                         style="max-width: 20%; border-radius: 20%">
                {% endif %}
            {% else %}
                <!-- 无头像 -->
                <img src="{% static 'default_avatar.jpg' %}"
                     alt=""
                     style="max-width: 20%; border-radius: 20%">
            {% endif %}
        {% endif %}
        <div class="text-muted">{{ user.username }}</div>

    </div>

    {% if not user.socialaccount_set.all.0.get_avatar_url %}
        <!-- 第三方头像不能修改头像 -->
        {% include 'account/handle_image_crop_upload.html' %}
    {% endif %}
    <!-- 基础信息的表单 -->
    {% crispy form %}
    {{ emailaddress.email }}
    <br>
    <br>
    <br>
    <h5 class="alert alert-warning">{% trans "个人认证" %}</h5>

    <td width="120" align="right">电子邮件</td>
    <td width="auto" align="left"><code>{{ user.email }}</code></td>

    <div class="inner">
        <form method="post" action="{% url 'settings_email' %}">
            {% csrf_token %}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td width="120" align="right">当前邮箱</td>
                    <td width="auto" align="left">{{ user.email }}</td>
                </tr>
                <tr>
                    <td width="120" align="right">邮件地址验证</td>
                    {% if user.email_verify == 0 %}
                        <td width="auto" align="left"><span class="orange">邮件地址尚未完成验证</span></td>
                    {% else %}
                        <td width="auto" align="left"><span class="green">邮件地址已经验证</span></td>
                    {% endif %}
                </tr>
                {% if user.email_verify == 0 %}
                    <tr>
                        <td width="120" align="right"></td>
                        <td width="auto" align="left">
                            <button class="btn btn-sm"
                                    onclick="if (confirm('你确认要向 {{ user.email }} 重新发送验证邮件？')) { resendVerificationEmail('{{ user_detail_obj.user.email }}'); }"
                                    id="ButtonResendVerification" type="button">
                                <li class="fa fa-refresh"></li>
                                重发验证码
                            </button> &nbsp; <span id="ResendResponse" class="gray"></span></td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td width="120" align="right" valign="top"></td>
                    <td width="auto" align="left">
                    <span class="f14">
                        如果你希望更改你的注册邮件地址，请在下方输入框中填入新的邮件地址。
                        <br><br>
                        然后我们会向此地址发送一封确认信，你需要在 8 小时内点击其中的链接，然后才能完成注册邮件地址更改。
                    </span>
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right" valign="top">
                        <div class="sep5"></div>
                        新邮箱
                    </td>
                    <td width="auto" align="left">
                        <input type="email" class="sls" name="new_email" value="">
                        <div class="sep5"></div>
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">账号密码</td>
                    <td width="auto" align="left">
                        <input type="password" class="sls" name="password" value="">
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right"></td>
                    <td width="auto" align="left">
                        <input type="submit" class="btn btn-sm" value="更改邮箱">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

<div class="inner">
            <form method="post" action="{% url 'settings_password' %}">
                {% csrf_token %}
                <table cellpadding="5" cellspacing="0" border="0" width="100%">
                    <tbody>
                    <tr>
                        <td width="120" align="right">当前密码</td>
                        <td width="auto" align="left">
                            <input type="password" class="sl" name="password_current" value=""></td>
                    </tr>
                    <tr>
                        <td width="120" align="right">新密码</td>
                        <td width="auto" align="left">
                            <input type="password" class="sl" name="password_new" value="">
                        </td>
                    </tr>
                    <tr>
                        <td width="120" align="right">再次输入新密码</td>
                        <td width="auto" align="left">
                            <input type="password" class="sl" name="password_again" value="">
                        </td>
                    </tr>
                    <tr>
                        <td width="120" align="right"></td>
                        <td width="auto" align="left">
                            <input type="submit" class="btn btn-sm" value="更改密码"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>


        <br>
        <p class="text-muted">遇到问题请联系站长：
            <a href="mailto:beaock@gmail.com">beaock@gmail.com</a>
        </p>

        <h5 class="alert alert-warning">{% trans "个人信息" %}</h5>
        {% crispy body_form %}
    <br>

    </div>
    {% if user_detail_obj.user.email_verify == 0 %}
        <script>
            function resendVerificationEmail(email) {
                if ($.cookie('csrftoken')) {
                    $.ajax({
                        url: '/activate',
                        type: 'post',
                        data: {'send_type': 0, 'send_to': email},
                        success: function (recv) {
                            recv = JSON.parse(recv);
                            if (recv.changed) {
                                console.log('发送成功');
                                $('#ButtonResendVerification').attr('disabled', 'disabled');
                            } else {
                                console.log('发送失败');
                                console.log(recv)
                            }
                        },
                        error: function () {
                            console.log('请求失败')
                        }
                    })
                }
            }
        </script>
    {% endif %}


    <script src="{% static 'cropper/cropper.min.js' %}"></script>
    <script src="{% static 'cropper/jquery-cropper.min.js' %}"></script>
    <script>
        $('#email_info').on('mouseenter', function () {
            this.index = layer.tips('1.同一个邮箱只能绑定一个账号<br>' +
                '2.已认证的邮箱优先为主邮箱<br>' +
                '3.你不能解绑自己的主邮箱', this, {
                time: -1,
                maxWidth: 280,
                tips: [3, '#3A3D49']
            });
        }).on('mouseleave', function () {
            layer.close(this.index);
        });
    </script>
{% endblock %}
