{% extends "base.html" %}
{% load staticfiles %}
{% load weibo_utils %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}个人信息 - 2zzy 爱钻研{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'cropper/cropper.min.css' %}">

    <div class="container">
        <br>
        <br>

        <div style="text-align: center" class="mb-4">
            {% if user.socialaccount_set.all.0.get_avatar_url %}
                <!-- 第三方头像 -->
                <img src="{% translate_avatar_ssl user.socialaccount_set.all.0.get_avatar_url %}"
                     alt=""
                     style="max-width: 20%; border-radius: 20%"
                >
            {% else %}
                {% if userinfo.avatar %}
                    <!-- 本地头像 -->
                    {% if 'static' in userinfo.avatar.url %}
                        <img src="{{ userinfo.avatar }}"
                             alt=""
                             style="max-width: 20%; border-radius: 20%">
                    {% else %}
                        <img src="{{ userinfo.avatar.url }}"
                             alt=""
                             style="max-width: 20%; border-radius: 20%">
                    {% endif %}
                {% else %}
                    <!-- 无头像 -->
                    <img src="{% static 'default_avatar.jpg' %}"
                         alt=""
                         style="max-width: 20%; border-radius: 20%">
                {% endif %}
            {% endif %}
            <div class="text-muted">{{ user.username }}</div>

        </div>

        {% if not user.socialaccount_set.all.0.get_avatar_url %}
            <!-- 第三方头像不能修改头像 -->
            {% include 'account/handle_image_crop_upload.html' %}
        {% endif %}
        <!-- 基础信息的表单 -->
        {% crispy form %}
        {{ emailaddress.email }}
        <br>
        <br>
        <br>
        {% if request.session.user_info.isSocialAccount == False %}
            {% include "account/mail_manage_default.html" %}
        {% endif %}
        {% if request.session.user_info.isSocialAccount == True %}
            {% include "account/mail_manage_socialAccount.html" %}
        {% endif %}

        <h5 class="alert alert-warning">{% trans "个人信息" %}</h5>
        {% crispy body_form %}
        <br>

    </div>
    {% if user_detail_obj.user.email_verify == 0 %}
        <script>
            function resendVerificationEmail(email) {
                if ($.cookie('csrftoken')) {
                    $.ajax({
                        url: '/activate',
                        type: 'post',
                        data: {'send_type': 0, 'send_to': email},
                        success: function (recv) {
                            recv = JSON.parse(recv);
                            if (recv.changed) {
                                console.log('发送成功');
                                $('#ButtonResendVerification').attr('disabled', 'disabled');
                            } else {
                                console.log('发送失败');
                                console.log(recv)
                            }
                        },
                        error: function () {
                            console.log('请求失败')
                        }
                    })
                }
            }
        </script>
    {% endif %}


    <script src="{% static 'cropper/cropper.min.js' %}"></script>
    <script src="{% static 'cropper/jquery-cropper.min.js' %}"></script>
    <script>
        $('#email_info').on('mouseenter', function () {
            this.index = layer.tips('1.同一个邮箱只能绑定一个账号<br>' +
                '2.已认证的邮箱优先为主邮箱<br>' +
                '3.你不能解绑自己的主邮箱', this, {
                time: -1,
                maxWidth: 280,
                tips: [3, '#3A3D49']
            });
        }).on('mouseleave', function () {
            layer.close(this.index);
        });
    </script>
{% endblock %}
