{% extends 'base_with_rslider.html' %}
{% load custom_filter %}

{% block CSS %}
    <style>
        a:active {
            color: #778087;
            text-decoration: none;
            word-break: break-all;
        }
        .gray {
            color: #999;
        }
        .positive {
            color: #0aa31c;
        }
        .negative {
            color: #ff3c00;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="box">
        <div class="cell">
            <table cellpadding="10" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td width="200">
                        <span class="gray">当前账户余额</span>
                        <i class="fab fa-bitcoin"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {% if page_str %}
            <div class="cell"
                 style="background-image: url('/static/img/shadow_light.png'); background-size: 20px 20px; background-repeat: repeat-x;">
                <ul class="pagination pagination-sm" style="margin-bottom:0;">
                    {{ page_str }}
                </ul>
            </div>
        {% endif %}
        <div class="cell">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="center">
                        <th scope="col">时间</th>
                        <th scope="col">类型</th>
                        <th scope="col">数额</th>
                        <th scope="col">余额</th>
                        <th scope="col">描述</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in balance_info_obj %}
                        <tr>
                            <td>{{ obj.create_time }}</td>
                            <td>{{ obj.balance_type }}</td>
                            {% if '-' in obj.balance|to_str %}
                                <td class="negative">{{ obj.balance }}</td>
                            {% else %}
                                <td class="positive">{{ obj.balance }}</td>
                            {% endif %}
                            <td>{{ obj.last_balance }}</td>
                            <td>{{ obj.marks|safe }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if page_str %}
            <div class="cell"
                 style="background-image: url('/static/img/shadow_light.png'); background-size: 20px 20px; background-repeat: repeat-x;">
                <ul class="pagination pagination-sm" style="margin-bottom:0;">
                    {{ page_str }}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}