.vscode/
.idea/
.idea
.venv/
bin/
whoosh_index/
/env.json
nginx_static/

__pycache__/
*.py[cod]
*$py.class
media/image/
media/user/
logs/
media/images/
# 忽略所有应用的 migrations 目录（推荐方式）
**/migrations/
db.sqlite3
