{% extends 'base_with_rslider.html' %}
{% load staticfiles %}

{% block content %}
        <style>
        input {
            outline-style: none;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 0px;
        }

        input:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
        }

        #fbuilder {
            margin: 30px;
        }
    </style>
<script>
if (typeof fbuilderjQuery == 'undefined') var fbuilderjQuery = jQuery.noConflict();
</script>
<script type = 'text/javascript' >
    var cp_calculatedfieldsf_fbuilder_config_1 = {
        "obj": {
            "pub": true,
            "identifier": "_1",
            "messages": {
                "required": "This field is required.",
                "email": "Please enter a valid email address.",
                "datemmddyyyy": "Please enter a valid date with this format(mm\/dd\/yyyy)",
                "dateddmmyyyy": "Please enter a valid date with this format(dd\/mm\/yyyy)",
                "number": "Please enter a valid number.",
                "digits": "Please enter only digits.",
                "max": "Please enter a value less than or equal to {0}.",
                "min": "Please enter a value greater than or equal to {0}.",
                "previous": "Previous",
                "next": "Next",
                "pageof": "Page {0} of {0}",
                "minlength": "Please enter at least {0} characters.",
                "maxlength": "Please enter no more than {0} characters.",
                "equalTo": "Please enter the same value again.",
                "accept": "Please enter a value with a valid extension.",
                "upload_size": "The file you've chosen is too big, maximum is {0} kB.",
                "phone": "Invalid phone number.",
                "currency": "Please enter a valid currency value."
            }
        }
    }; </script>
<form class="form-horizontal" role="form" name="cp_calculatedfieldsf_pform_1" id="cp_calculatedfieldsf_pform_1" action="?" method="post" enctype="multipart/form-data" class="">
    <input type="hidden" name="cp_calculatedfieldsf_id" value="7" />
    <pre style="display:none;"><!--noptimize-->

<script> form_structure_1 = [
    [{
        "form_identifier": "",
        "name": "fieldname6",
        "shortlabel": "",
        "index": 0,
        "ftype": "fSectionBreak",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u8f38\u5165\u57fa\u672c\u8cc7\u6599",
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname1",
        "shortlabel": "",
        "index": 1,
        "ftype": "fnumber",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u5e74\u9f61",
        "predefined": "",
        "predefinedClick": false,
        "required": true,
        "readonly": false,
        "size": "large",
        "thousandSeparator": "",
        "decimalSymbol": ".",
        "min": "1",
        "max": "120",
        "formatDynamically": false,
        "dformat": "digits",
        "formats": ["digits", "number"],
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname7",
        "shortlabel": "",
        "index": 2,
        "ftype": "fSectionBreak",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u6700\u9ad8\u5fc3\u8df3\u7387",
        "fBuild": {},
        "parent": ""
    }, {
        "dependencies": [{
            "rule": "",
            "complex": false,
            "fields": [""]
        }],
        "form_identifier": "",
        "name": "fieldname2",
        "shortlabel": "",
        "index": 3,
        "ftype": "fCalculated",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u5efa\u8b70\u503c\uff08\u6bcf\u5206\u9418\uff09",
        "predefined": "",
        "required": false,
        "size": "large",
        "toolbar": "default|mathematical",
        "eq": "IF(AND(NOT(fieldname1==\u0022\u0022),fieldname1\u003E=0, fieldname1\u003C=120), 220-fieldname1, \u0022\u0022)",
        "suffix": "",
        "prefix": "",
        "decimalsymbol": ".",
        "groupingsymbol": "",
        "readonly": true,
        "hidefield": false,
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname8",
        "shortlabel": "",
        "index": 4,
        "ftype": "fSectionBreak",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u4ee5\u589e\u5f37\u6709\u6c27\u8010\u529b\u70ba\u76ee\u6a19\u5fc3\u8df3\u7387",
        "fBuild": {},
        "parent": ""
    }, {
        "dependencies": [{
            "rule": "",
            "complex": false,
            "fields": [""]
        }],
        "form_identifier": "",
        "name": "fieldname3",
        "shortlabel": "",
        "index": 5,
        "ftype": "fCalculated",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u5efa\u8b70\u503c\uff08\u6bcf\u5206\u9418\uff09",
        "predefined": "",
        "required": false,
        "size": "large",
        "toolbar": "default|mathematical",
        "eq": "IF(fieldname2==\u0022\u0022, \u0022\u0022, ROUND(fieldname2 * 0.85))",
        "suffix": "",
        "prefix": "",
        "decimalsymbol": ".",
        "groupingsymbol": "",
        "readonly": true,
        "hidefield": false,
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname9",
        "shortlabel": "",
        "index": 6,
        "ftype": "fSectionBreak",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u4ee5\u71c3\u71d2\u8102\u80aa\u70ba\u76ee\u6a19\u5fc3\u8df3\u7387",
        "fBuild": {},
        "parent": ""
    }, {
        "dependencies": [{
            "rule": "",
            "complex": false,
            "fields": [""]
        }],
        "form_identifier": "",
        "name": "fieldname4",
        "shortlabel": "",
        "index": 7,
        "ftype": "fCalculated",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u5efa\u8b70\u6700\u4f4e\u503c\uff08\u6bcf\u5206\u9418\uff09",
        "predefined": "",
        "required": false,
        "size": "large",
        "toolbar": "default|mathematical",
        "eq": "IF(fieldname2==\u0022\u0022, \u0022\u0022, ROUND(fieldname2 * 0.65))",
        "suffix": "",
        "prefix": "",
        "decimalsymbol": ".",
        "groupingsymbol": "",
        "readonly": true,
        "hidefield": false,
        "fBuild": {},
        "parent": ""
    }, {
        "dependencies": [{
            "rule": "",
            "complex": false,
            "fields": [""]
        }],
        "form_identifier": "",
        "name": "fieldname5",
        "shortlabel": "",
        "index": 8,
        "ftype": "fCalculated",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u5efa\u8b70\u6700\u9ad8\u503c\uff08\u6bcf\u5206\u9418\uff09",
        "predefined": "",
        "required": false,
        "size": "large",
        "toolbar": "default|mathematical",
        "eq": "IF(fieldname2==\u0022\u0022, \u0022\u0022, ROUND(fieldname2 * 0.70))",
        "suffix": "",
        "prefix": "",
        "decimalsymbol": ".",
        "groupingsymbol": "",
        "readonly": true,
        "hidefield": false,
        "fBuild": {},
        "parent": ""
    }], {
        "0": {
            "title": "MHR \u5fc3\u8df3\u8a08\u7b97\u6a5f",
            "description": "",
            "formlayout": "top_aligned",
            "formtemplate": "",
            "evalequations": 1,
            "autocomplete": 1,
            "customstyles": "",
            "evalequationsevent": 2,
            "persistence": 0
        },
        "formid": "cp_calculatedfieldsf_pform_1"
    }
]; </script><!--/noptimize-->
</pre>
    <div id="fbuilder">
        <div id="fbuilder_1">
            <div id="formheader_1"></div>
            <div id="fieldlist_1"></div>
        </div>
    </div>
    <div class="clearer"></div>
</form>
<script type="text/javascript" defer="" src="{% static 'js\autoptimize.js' %}"></script>
{% endblock %}