{% extends 'base_with_rslider.html' %}
{% load staticfiles %}

{% block content %}
    <style>
        input {
            outline-style: none;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 0px;
        }

        input:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
        }

        #fbuilder {
            margin: 30px;
        }
    </style>
<script type="text/javascript">
var cp_calculatedfieldsf_fbuilder_config_1 = {
    "obj": {
        "pub": true,
        "identifier": "_1",
        "messages": {
            "required": "This field is required.",
            "email": "Please enter a valid email address.",
            "datemmddyyyy": "Please enter a valid date with this format(mm\/dd\/yyyy)",
            "dateddmmyyyy": "Please enter a valid date with this format(dd\/mm\/yyyy)",
            "number": "Please enter a valid number.",
            "digits": "Please enter only digits.",
            "max": "Please enter a value less than or equal to {0}.",
            "min": "Please enter a value greater than or equal to {0}.",
            "previous": "Previous",
            "next": "Next",
            "pageof": "Page {0} of {0}",
            "minlength": "Please enter at least {0} characters.",
            "maxlength": "Please enter no more than {0} characters.",
            "equalTo": "Please enter the same value again.",
            "accept": "Please enter a value with a valid extension.",
            "upload_size": "The file you've chosen is too big, maximum is {0} kB.",
            "phone": "Invalid phone number.",
            "currency": "Please enter a valid currency value."
        }
    }
};
</script>
<form class="form-horizontal" role="form" name="cp_calculatedfieldsf_pform_1" id="cp_calculatedfieldsf_pform_1" action="?" method="post" enctype="multipart/form-data" class="">
    <input type="hidden" class="form-control"name="cp_calculatedfieldsf_id" value="8" />

 <script> form_structure_1 = [
    [{
        "form_identifier": "",
        "name": "separator1",
        "shortlabel": "",
        "index": 0,
        "ftype": "fSectionBreak",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u8f38\u5165\u57fa\u672c\u8cc7\u6599",
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname1",
        "shortlabel": "",
        "index": 1,
        "ftype": "fnumber",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u5e74\u9f61",
        "predefined": "",
        "predefinedClick": false,
        "required": true,
        "readonly": false,
        "size": "large",
        "thousandSeparator": "",
        "decimalSymbol": ".",
        "min": "14",
        "max": "100",
        "formatDynamically": false,
        "dformat": "digits",
        "formats": ["digits", "number"],
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname2",
        "shortlabel": "",
        "index": 2,
        "ftype": "fradio",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u6027\u5225",
        "layout": "side_by_side",
        "required": true,
        "toSubmit": "text",
        "choiceSelected": "\u7537 - 5",
        "showDep": false,
        "untickAccepted": true,
        "choices": ["\u7537", "\u5973"],
        "choicesVal": ["5", "-161"],
        "choicesDep": [
            [],
            []
        ],
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname3",
        "shortlabel": "",
        "index": 3,
        "ftype": "fnumber",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u8eab\u9ad8\uff08\u516c\u5206\uff09",
        "predefined": "",
        "predefinedClick": false,
        "required": true,
        "readonly": false,
        "size": "large",
        "thousandSeparator": "",
        "decimalSymbol": ".",
        "min": "0",
        "max": "",
        "formatDynamically": false,
        "dformat": "number",
        "formats": ["digits", "number"],
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname4",
        "shortlabel": "",
        "index": 4,
        "ftype": "fnumber",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u9ad4\u91cd\uff08\u516c\u65a4\uff09",
        "predefined": "",
        "predefinedClick": false,
        "required": true,
        "readonly": false,
        "size": "large",
        "thousandSeparator": "",
        "decimalSymbol": ".",
        "min": "0",
        "max": "",
        "formatDynamically": false,
        "dformat": "number",
        "formats": ["digits", "number"],
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname5",
        "shortlabel": "",
        "index": 5,
        "ftype": "fdropdown",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u6bcf\u5468\u904b\u52d5\u91cf",
        "size": "large",
        "required": true,
        "toSubmit": "text",
        "merge": 0,
        "choiceSelected": "\u6c92\u904b\u52d5 - 1.20",
        "multiple": false,
        "vChoices": 1,
        "showDep": true,
        "choices": ["\u6c92\u904b\u52d5", "1\u6b21", "2\u6b21", "3\u6b21", "4\u6b21", "5\u6b21", "6\u6b21", "7\u6b21"],
        "choicesVal": ["1.20", "1.30", "1.34", "1.38", "1.42", "1.46", "1.50", "1.54"],
        "choicesDep": [
            [""],
            ["fieldname6"],
            ["fieldname6"],
            ["fieldname6"],
            ["fieldname6"],
            ["fieldname6"],
            ["fieldname6"],
            ["fieldname6"]
        ],
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname6",
        "shortlabel": "",
        "index": 6,
        "ftype": "fradio",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u904b\u52d5\u5f37\u5ea6",
        "layout": "side_by_side",
        "required": false,
        "toSubmit": "text",
        "choiceSelected": "\u666e\u901a - 0.00",
        "showDep": false,
        "untickAccepted": true,
        "choices": ["\u666e\u901a", "\u5287\u70c8\uff08\u5598\u5230\u7121\u6cd5\u4ea4\u8ac7\uff09"],
        "choicesVal": ["0.00", "0.08"],
        "choicesDep": [
            [],
            []
        ],
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname7",
        "shortlabel": "",
        "index": 7,
        "ftype": "fradio",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u5f9e\u4e8b\u52de\u529b\u5de5\u4f5c",
        "layout": "side_by_side",
        "required": true,
        "toSubmit": "text",
        "choiceSelected": "\u5426 - 0.00",
        "showDep": false,
        "untickAccepted": true,
        "choices": ["\u5426", "\u662f"],
        "choicesVal": ["0.00", "0.25"],
        "choicesDep": [
            [],
            []
        ],
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname11",
        "shortlabel": "",
        "index": 8,
        "ftype": "fSectionBreak",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u6bcf\u65e5\u651d\u53d6\u5efa\u8b70\u503c",
        "fBuild": {},
        "parent": ""
    }, {
        "dependencies": [{
            "rule": "",
            "complex": false,
            "fields": [""]
        }, {
            "rule": "",
            "complex": false,
            "fields": [""]
        }],
        "form_identifier": "",
        "name": "fieldname8",
        "shortlabel": "",
        "index": 9,
        "ftype": "fCalculated",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u7dad\u6301\u6240\u9700\u71b1\u91cf",
        "predefined": "",
        "required": false,
        "size": "large",
        "toolbar": "default|mathematical",
        "eq": "IF(OR(fieldname1==\u0022\u0022, fieldname3==\u0022\u0022, fieldname4==\u0022\u0022), \u0022\u0022,\n\nround(((10*fieldname4)+(6.25*fieldname3)-(5*fieldname1)+fieldname2)*(fieldname5+fieldname6+fieldname7)))",
        "suffix": "",
        "prefix": "",
        "decimalsymbol": ".",
        "groupingsymbol": "",
        "readonly": true,
        "hidefield": false,
        "optimizeEq": true,
        "eq_factored": "",
        "fBuild": {},
        "predefinedClick": false,
        "parent": ""
    }, {
        "dependencies": [{
            "rule": "",
            "complex": false,
            "fields": [""]
        }],
        "form_identifier": "",
        "name": "fieldname9",
        "shortlabel": "",
        "index": 10,
        "ftype": "fCalculated",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u589e\u808c\u6240\u9700\u71b1\u91cf",
        "predefined": "",
        "required": false,
        "size": "large",
        "toolbar": "default|mathematical",
        "eq": "IF(fieldname8==\u0022\u0022, \u0022\u0022, round(fieldname8*1.15))",
        "suffix": "",
        "prefix": "",
        "decimalsymbol": ".",
        "groupingsymbol": "",
        "readonly": true,
        "hidefield": false,
        "optimizeEq": true,
        "eq_factored": "",
        "fBuild": {},
        "parent": ""
    }, {
        "dependencies": [{
            "rule": "",
            "complex": false,
            "fields": [""]
        }],
        "form_identifier": "",
        "name": "fieldname10",
        "shortlabel": "",
        "index": 11,
        "ftype": "fCalculated",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u6e1b\u8102\u6240\u9700\u71b1\u91cf",
        "predefined": "",
        "required": false,
        "size": "large",
        "toolbar": "default|mathematical",
        "eq": "IF(fieldname8==\u0022\u0022, \u0022\u0022, round(fieldname8*0.85))",
        "suffix": "",
        "prefix": "",
        "decimalsymbol": ".",
        "groupingsymbol": "",
        "readonly": true,
        "hidefield": false,
        "optimizeEq": true,
        "eq_factored": "",
        "fBuild": {},
        "parent": ""
    }, {
        "form_identifier": "",
        "name": "fieldname14",
        "shortlabel": "",
        "index": 12,
        "ftype": "fSectionBreak",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u4ee5\u9ad4\u91cd\u70ba\u76ee\u6a19\u6bcf\u65e5\u651d\u53d6\u5efa\u8b70\u503c",
        "fBuild": {},
        "parent": ""
    }, {
        "dependencies": [{
            "rule": "",
            "complex": false,
            "fields": [""]
        }],
        "form_identifier": "",
        "name": "fieldname12",
        "shortlabel": "",
        "index": 13,
        "ftype": "fCalculated",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u6bcf\u661f\u671f\u589e\u91cd 1 \u78c5\u6240\u9700\u71b1\u91cf",
        "predefined": "",
        "required": false,
        "size": "large",
        "toolbar": "default|mathematical",
        "eq": "IF(fieldname8==\u0022\u0022, \u0022\u0022, fieldname8+500)",
        "suffix": "",
        "prefix": "",
        "decimalsymbol": ".",
        "groupingsymbol": "",
        "readonly": true,
        "hidefield": false,
        "fBuild": {},
        "parent": ""
    }, {
        "dependencies": [{
            "rule": "",
            "complex": false,
            "fields": [""]
        }],
        "form_identifier": "",
        "name": "fieldname13",
        "shortlabel": "",
        "index": 14,
        "ftype": "fCalculated",
        "userhelp": "",
        "userhelpTooltip": false,
        "csslayout": "",
        "title": "\u6bcf\u661f\u671f\u6e1b\u91cd 1 \u78c5\u6240\u9700\u71b1\u91cf",
        "predefined": "",
        "required": false,
        "size": "large",
        "toolbar": "default|mathematical",
        "eq": "IF(fieldname8==\u0022\u0022, \u0022\u0022, fieldname8-500)",
        "suffix": "",
        "prefix": "",
        "decimalsymbol": ".",
        "groupingsymbol": "",
        "readonly": true,
        "hidefield": false,
        "fBuild": {},
        "parent": ""
    }], {
        "0": {
            "title": "TDEE \u71b1\u91cf\u8a08\u7b97\u6a5f",
            "description": "",
            "formlayout": "top_aligned",
            "formtemplate": "",
            "evalequations": 1,
            "autocomplete": 1,
            "customstyles": "",
            "evalequationsevent": 2,
            "persistence": 0
        },
        "formid": "cp_calculatedfieldsf_pform_1"
    }
]; </script>
                         
    <div id="fbuilder">
        <div id="fbuilder_1">
            <div id="formheader_1"></div>
            <div id="fieldlist_1" ></div>
        </div>
    </div>
    <div class="clearer"></div>
</form>

<script type="text/javascript" defer="" src="{% static 'js\autoptimize.js' %}"></script>
{% endblock %}