{% extends 'base.html' %}
{% block CSS %}
    <style>
        .f12 {
            font-size: 12px;
        }

        .fr {
            float: right;
            text-align: right;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container" id="wrapper">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="header"><a href="{% url 'index' %}">2ZZY</a> <span class="chevron">&nbsp;›&nbsp;</span>
                我关注的人的最新话题
                <div class="fr f12"><span class="snow">话题总数&nbsp;</span> <strong
                        class="gray">{{ following_topic_obj.count }}</strong></div>
            </div>
            {% for obj in following_topic_obj %}
                <div class="card mb-2">
                    <div class="row no-gutters align-items-center">
                        <a href="{% url 'member' obj.author.username %}">
                            {% if obj.author.socialaccount_set.all.0.get_avatar_url %}
                                <img src="{{ obj.author.socialaccount_set.all.0.get_avatar_url }}" class="rounded"
                                     alt="{{ obj.author.username }}"
                                     width="48px" height="48px" border="0" align="default" style="margin-left: 10px">

                            {% else %}
                                <img src="{{ obj.author.avatar.url }}" class="rounded"
                                     alt="{{ obj.author.username }}"
                                     width="48px" height="48px" border="0" align="default" style="margin-left: 10px">
                            {% endif %}
                        </a>
                        <div class="col">

                            <div class="card-body" style="height: 80px">
                                <!-- 标题 -->
                                <h3 class="mt-0">
                                    <a href="{% url 'topic' obj.topic_sn %}">{{ obj.title|safe }}</a>
                                </h3>

                                <a class="node"
                                   href="{% url 'node' obj.category.code %}">{{ obj.category.name }}</a> &nbsp;•&nbsp;
                                <strong>
                                    <a href="{% url 'member' obj.author.username %}">{{ obj.author.username }}</a>
                                </strong>
                                <!-- 附加信息 -->
                                {% if obj.last_comment_user %}
                                    &nbsp;•&nbsp; {{ obj.last_comment_time }} &nbsp;•&nbsp; 最后回复来自
                                    <strong>
                                        <a href="{% url 'member' obj.last_comment_user %}">{{ obj.last_comment_user }}</a>
                                    </strong>
                                {% endif %}

                                <td width="70" align="right" valign="middle">
                                    <a href="{% url 'topic' obj.topic_sn %}"
                                       class="read_status badge badge-pill badge-secondary">&nbsp;{{ obj.comments.count }}&nbsp;</a>
                                </td>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    <div class="col-lg-3 ">
    {% if request.session.user_info %}
    <div class="card mb-4 mt-4">

        <div class="card-body">
            <p class="card-title text-muted">
                {{ request.session.user_info.username }},欢迎回来~~
            </p>

            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr class="no_hove_line">
                    <td width="33%" align="center"><a href="{% url 'my_nodes' %}" class="dark"
                                                      style="display: block;"><span
                            class="bigger">{{ request.session.user_info.favorite_node_num }}</span>
                        <div class="sep3"></div>
                        <span>关注话题</span></a></td>
                    <td width="34%"
                        style="border-left: 1px solid rgba(100, 100, 100, 0.4); border-right: 1px solid rgba(100, 100, 100, 0.4);"
                        align="center"><a href="{% url 'my_topics' %}" class="dark" style="display: block;"><span
                            class="bigger">{{ request.session.user_info.favorite_topic_num }}</span>
                        <div class="sep3"></div>
                        <span>主题收藏</span></a></td>
                    <td width="33%" align="center"><a href="{% url 'my_following' %}" class="dark"
                                                      style="display: block;"><span
                            class="bigger">{{ request.session.user_info.following_user_num }}</span>
                        <div class="sep3"></div>
                        <span>特别关注</span></a></td>
                </tr>
                </tbody>
            </table>
            <div class="cell">
            <div style="width: 250px; background-color: #f0f0f0; height: 3px; display: inline-block; vertical-align: middle;">
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
            <i class="fas fa-feather-alt" style="padding-left: 10px"><a href="{% url 'new' %}">发布新话题</a></i>
            </tbody>
        </table>
        <div class="inner" style="padding-left: 20px">
            <div class="fr" id="money"><a href="{% url 'balance' %}" class="balance_area" style="">
                {{ request.session.user_info.balance }}<i class="fab fa-bitcoin"></i></div>
            <a href="{% url 'my_notifications:notify_box' %}"> {% if unread_count %}
                {{ unread_count }}条未读提醒
            {% else %}没有未读提醒{% endif %}</a></div>

          {% if not request.session.user_info.daily_mission %}
                    <span> <a class="btn btn-success" role="button" href="{% url 'daily_mission' %}" value="签到">签到 <li class="fa fa-gift" style="color: #f3fffa;"></li></a>  </span>
               {% else %}
               <span class="gray">
                    <li class="fa fa-ok-sign" style="color: #0c0;"></li>
                    &nbsp;每日签到奖励已领取
                </span>
            {% endif %}
        </div>

    </div>
{% endif %}

        <div class="card mb-4 mt-4">
        <div class="card-body">
            <div class="cell"><span>我关注的人</span></div>
            {% for obj in my_following_obj %}
                <div class="cell">

                    <a href="{% url 'member' obj.following.username %}">
                        {% if obj.author.socialaccount_set.all.0.get_avatar_url %}
                                    <img src="{{ obj.following.socialaccount_set.all.0.get_avatar_url }}" class="rounded"
                                         alt="{{ obj.following.username }}"
                                         width="30px" height="30px" border="0" align="default" style="margin-left: 10px">

                                {% else %}
                                    <img src="{{ obj.following.avatar.url }}" class="rounded"
                                         alt="{{ obj.following.username }}"
                                         width="30px" height="30px" border="0" align="default" style="margin-left: 10px">
                                {% endif %}
                    </a>&nbsp; <a href="{% url 'member' obj.following.username %}">{{ obj.following.username }}</a>
                </div>
            {% endfor %}
        </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}