{% extends 'base_with_rslider.html' %}
{% block CSS %}
<style>
    .f12 {
        font-size: 12px;
    }
    .fr {
        float: right;
        text-align: right;
    }
</style>
{% endblock %}
{% block content %}
    <br>
    <div class="card mb-2">
        <div class="header"><a href="{% url 'index' %}">2ZZY</a> <span class="chevron">&nbsp;›&nbsp;</span> 我收藏的话题
            <div class="fr f12"><span class="snow">话题总数&nbsp;</span> <strong class="gray">{{ user_info.favorite_topic_num }}</strong></div>
        </div>
    </div>


{#    下面的obj是TopicVoted实例,所以想要得到作者 必须要先知道topic#}
      {% for obj in my_favorite_obj %}
        <div class="card mb-2">
            <div class="row no-gutters align-items-center">
                <a href="{% url 'member' obj.topic.author.username %}">
                    {% if obj.topic.author.socialaccount_set.all.0.get_avatar_url %}
                        <img src="{{ obj.topic.author.socialaccount_set.all.0.get_avatar_url }}" class="rounded"
                             alt="{{ obj.topic.author.username }}"
                             width="48px" height="48px" border="0" align="default" style="margin-left: 10px">

                    {% else %}
                        <img src="{{ obj.topic.author.avatar.url }}" class="rounded"
                             alt="{{ obj.topic.author.username }}"
                             width="48px" height="48px" border="0" align="default" style="margin-left: 10px">
                    {% endif %}
                </a>
                <div class="col">

                    <div class="card-body" style="height: 80px">
                        <!-- 标题 -->
                        <h3 class="mt-0">
                            <a href="{% url 'topic' obj.topic.topic_sn %}">{{ obj.topic.title|safe }}</a>
                        </h3>

                        <a class="node"
                           href="{% url 'node' obj.topic.category.code %}">{{ obj.topic.category.name }}</a> &nbsp;•&nbsp;
                        <strong>
                            <a href="{% url 'member' obj.topic.author.username %}">{{ obj.topic.author.username }}</a>
                        </strong>
                        <!-- 附加信息 -->
                        {% if obj.topic.last_comment_user %}
                            &nbsp;•&nbsp; {{ obj.topic.last_comment_time }} &nbsp;•&nbsp; 最后回复来自
                            <strong>
                                <a href="{% url 'member' obj.topic.last_comment_user %}">{{ obj.topic.last_comment_user }}</a>
                            </strong>
                        {% endif %}

                        <td width="70" align="right" valign="middle">
                            <a href="{% url 'topic' obj.topic.topic_sn %}"
                               class="read_status badge badge-pill badge-secondary">&nbsp;{{ obj.topic.comments.count }}&nbsp;</a>
                        </td>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
