{#{% extends 'layout.html' %}#}
{% extends "base.html" %}

{% block CSS %}
    <style>
        .msl {
            width: 100%;
            border: none;
            resize: none;
            background-color: #f9f9f9;
            outline: none;
            font-size: 14px;
            line-height: 20px;
            padding: 10px;
            font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
            margin: 0px;
            box-sizing: border-box;
        }

        .msl:focus {
            background-color: #fff;
        }

        .node {
            width: 20%;
        }

        .problem {
            padding: 10px;
            font-size: 14px;
            line-height: 120%;
            text-align: left;
            background-color: #ffffc0;
            border-left: 5px solid #fff000;
            border-bottom: 1px solid #e2e2e2;
            color: #333;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row" style="margin: 10px">
        <div class="col-lg-6">
            {% if has_error %}
                <div class="danger">请解决以下问题然后再提交：
                    <ul>
                        {% if obj.errors.title.0 %}
                            <li>{{ obj.errors.title.0 }}</li>
                        {% endif %}
                        {% if obj.errors.content.0 %}
                            <li>{{ obj.errors.content.0 }}</li>
                        {% endif %}
                        {% if obj.errors.node_code.0 %}
                            <li>{{ obj.errors.node_code.0 }}</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            {% if topic_node_code %}
                <div class="header"><a href="{% url 'index' %}">2ZZY</a> <span class="chevron">&nbsp;›&nbsp;</span> <a
                        href="{% url 'node' node_obj.code %}">{{ node_obj.name }}</a> <span
                        class="chevron">&nbsp;›&nbsp;</span> 创建新主题
                </div>
            {% else %}
                <div class="cell"><a href="{% url 'index' %}">2ZZY</a> <span class="chevron">&nbsp;›&nbsp;</span> 创作新主题
                </div>
            {% endif %}


            <form method="POST" action="{% url 'new' %}" id="compose">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">话题标题</label>
                    <input id="topic_title" name="title" type="text" class="form-control" placeholder="请输入主题标题,不得超过120个字符">
                </div>
                <div class="form-group">
                    <label for="name">正文</label>
                    <textarea class="form-control" rows="20" id="editor" name="content"></textarea>
                </div>


                {% if topic_node_code %}
                    <input type="hidden" name="topic_node" value="{{ node_obj.id }}">
                {% else %}
                    <div class="cell">
                        <div class="input-group node">
                            <select class="custom-select" name="topic_node">
                                {% for item in node_obj %}
                                    <option value="{{ item.id }}" selected>{{ item.name }}/{{ item.code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}
                <div class="row" style="margin: 5px">
                    <div class="fr">
                        <button type="submit" class="btn btn-sm btn-secondary">
                            <li class="fa fa-paper-plane"></li> &nbsp;发布主题
                        </button>
                    </div>
                    <button type="button" class="btn btn-sm btn-secondary" style="margin-left:20px" onclick="previewTopic();">
                        <li class="fa fa-eye"></li> &nbsp;预览主题
                    </button>
                </div>
            </form>

        </div>
    <div class="col-lg-6 rounded" style="background-color: #0aa31c;">
                    <label for="name">预览</label>

        <div class="markdown_body" id="editor" name="content" ></div>
               </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function previewTopic() {
            var md = $('#editor').val();
            console.log(md);
            $.ajax({
                url: 'preview/markdown',
                type: 'post',
                data: {'md': md},
                success: function (recv) {
                    $('.markdown_body').html(recv);
                    $('.markdown_body code').each(function (i, block) {
                        hljs.highlightBlock(block);
                    });
                },
                error: function () {
                    console.log('请求失败')
                }
            })
        }

        function tab(obj) {
            if (event.keyCode == 9) {
                obj.value = obj.value + "  "; // 跳几格由你自已决定
                event.returnValue = false;
            }
        }
    </script>
{% endblock %}