{% extends 'base.html' %}
{% load staticfiles %}
{% load weibo_utils %}
{% block title %}{{ article.title }} - 2zzy 爱钻研{% endblock %}
{% block content %}
    <style>
        div#article_body p img {
            max-width: 95%;
            box-shadow: 0 0 50px grey;
            margin-top: 30px;
            margin-bottom: 30px;
            border-radius: 20px;
        }

        div#article_body pre {
            color: white;
        }

        div#article_body span.err {
            color: white;
        }

        div#article_body h2 {
            margin-top: 1.2em;
            margin-bottom: 0.6em;
            padding-bottom: 6px;
            border-bottom: 1px solid lightgrey;
        }

        div#article_body h3 {
            margin-top: 1em;
            margin-bottom: 0.4em;
        }

        div#article_body blockquote p {
            color: grey;
            font-style: italic;
            background-color: #f5f5f5;
            padding: 10px;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-top: 0;
        }

        .progress-indicator {
            z-index: 100;
        }
    </style>

    <style>
    .topic_buttons {
        padding: 5px;
        font-size: 14px;
        line-height: 120%;
        background: #eeeeee;
        border-radius: 0px 0px 3px 3px;
        text-align: left;
    }
    .topic_content img {
        max-width: 100% !important;
    }
    a.tb {
        background-color: #eeeeee;
    }
    .fr {
        float: right;
        text-align: right;
    }
    img.avatar {
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .transparent {
        background-color: transparent;
        border: 2px dashed rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        box-shadow: none;
    }
    .vote:link, .vote:visited, .vote {
        text-decoration: none;
        font-size: 10px;
        line-height: 1;
        padding: 2px 8px 2px 8px;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        color: #778;
        display: inline-block;
        vertical-align: baseline;
        text-align: center;
    }
    .header {
        padding: 10px;
        font-size: 15px;
        line-height: 120%;
        text-align: left;
        border-bottom: 1px solid #e2e2e2;
        overflow: auto;
    }
    h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
        margin: 0px 0px 10px 0px;
        padding: 0px;
    }
    a:active {
        color: #778087;
        text-decoration: none;
        word-break: break-all;
    }
    .votes {
        display: inline-block;
    }
    .gray {
        color: #999;
    }
    .ago {
        font-size: 11px;
        color: #ccc;
        cursor: pointer;
    }
    .mll {
        border-radius: 3px;
        padding: 5px;
        font-size: 14px;
        border: 1px solid #ccc;
        display: block;
        width: 100%;
        height: 8em;
        overflow-y: auto;
        resize: vertical;
        box-sizing: border-box;
    }
</style>


    <div class="container" style="background-color: white">
        <div class="row">
            <span><a href="{% url 'index' %}">2ZZY</a> <span class="chevron">&nbsp;›&nbsp;</span> <a
                    href="{% url 'node' topic_obj.category.code %}">{{ topic_obj.category.name }}</a></span>


            <!-- 正文 -->
            <div class="col-lg-8 col-12 col-md-9" id="main">
                <div class="mt-4">
                    <div>
                        <div>
                            <h1>{{ topic_obj.title|safe }}</h1>
                            <div id="topic_votes" class="votes">
                                <a href="javascript:" onclick="upVoteTopic('{{ topic_obj.topic_sn }}');" class="vote">
                                    <li class="fa fa-chevron-up">&nbsp;{{ topic_obj.like_num }}</li>
                                </a> &nbsp;
                                <a href="javascript:" onclick="downVoteTopic('{{ topic_obj.topic_sn }}');" class="vote">
                                    <li class="fa fa-chevron-down">&nbsp;{{ topic_obj.dislike_num }}</li>
                                </a>
                            </div> &nbsp;
                            <p class="text-muted">
                                <a href="{% url 'member' topic_obj.author.username %}">{{ topic_obj.author.username }}</a>
                                {{ topic_obj.click_num }} 点击 ·
                                {{ topic_obj.create_time }}发布 &nbsp;
                                <a href="#Fcomments"
                                   style="color: cornflowerblue;
                   text-decoration-line: underline;"
                                >
                                    前往评论
                                </a>
                            </p>
                        </div>
                        <div id="article_body">
                            {{ topic_obj.markdown_content | safe }}
                        </div>
                        {% if request.session.user_info %}
                            <div class="topic_buttons">
                                <div class="fr gray f11"
                                     style="line-height: 12px; padding-top: 3px; text-shadow: 0px 1px 0px #fff;">{{ topic_obj.click_num }}
                                    次点击 &nbsp;∙&nbsp; {{ topic_obj.favorite_num }} 人收藏 &nbsp;
                                </div>
                                <div class="action-buttons">
                                    {% if topic_obj.favorite.0 == 1 %}
                                        <a id="favorite" class="badge badge-pill badge-light tb" href="#;"
                                           onclick="favoriteTopic('{{ topic_obj.topic_sn }}')">&nbsp;取消收藏&nbsp;</a>
                                        &nbsp;
                                    {% else %}
                                        <a id="favorite" class="badge badge-pill badge-light tb" href="#;"
                                           onclick="favoriteTopic('{{ topic_obj.topic_sn }}')">&nbsp;加入收藏&nbsp;</a>
                                        &nbsp;
                                    {% endif %}
                                    {% if topic_obj.author_id != request.session.user_info.uid %}
                                        {% if topic_obj.thanks.0 == 1 %}
                                            <a id="thanks" href="#;" class="badge badge-pill badge-light tb"
                                               disabled="disabled">&nbsp;已经发送感谢&nbsp;</a>
                                        {% else %}
                                            <a id="thanks" href="#;" class="badge badge-pill badge-light tb"
                                               onclick="if (confirm('你确定要向本话题创建者发送谢意？')) { thankTopic('{{ topic_obj.topic_sn }}'); }">&nbsp;感谢&nbsp;</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if request.session.user_info %}
                    <div class="cell">
                        <div class="fr"><a href="#" onclick="goTop()"><strong>↑</strong> 回到顶部</a></div>
                        添加一条新回复
                    </div>
                    <div class="cell">
                        <form method="post" action="{% url 'topic' topic_sn %}">
                            {% csrf_token %}
                            <textarea name="content" maxlength="10000" class="mll" id="reply_content"
                                      style="overflow: hidden; word-wrap: break-word; resize: none; height: 112px;"></textarea>
                            <div class="sep10"></div>
                            <div class="fr">
                                <div class="sep5"></div>
                                <span class="gray">请尽量让自己的回复能够对别人有帮助</span></div>
                            <input type="hidden" value="10476" name="once">
                            <input type="submit" value="回复" class="btn btn-sm">

                        </form>
                    </div>
                {% else %}
                    <br/>
                    <br/>
                    <div style="text-align: center">
                        <div>
                            <h5 class="text-muted" id="weibologin">
                                <a href="{% url 'account_login' %}">
                                    登录
                                </a> 后回复
                            </h5>
                            <div style="text-align: center" class="container-fluid mb-4">
                                <div>
                                    <a href="/accounts/weibo/login/?process=login" class="mr-2" id="weibo_a">
                                        <i class="fab fa-weibo" style="font-size: 3em; color: indianred;"></i>
                                    </a>
                                    <a href="/accounts/github/login/?process=login" id="github_a">
                                        <i class="fab fa-github" style="font-size: 3em; color: dimgray;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <h5 id="Fcomments" class="mt-4 alert alert-info">共有{{ comments_obj.count }} 条评论</h5>
                {% for obj in comments_obj %}
                    <div class="mb-2" id="comments_body" style="word-break: break-all">
                        <div>
                            <hr>
                            <div class="row no-gutters" id="xxx">
                                <div class="col-2 col-sm-1">
                                    <div style="text-align: center">
                                        <!-- 头像 -->
                                        {% if user.socialaccount_set.all.0.get_avatar_url %}
                                        <img src="{% translate_avatar_ssl user.socialaccount_set.all.0.get_avatar_url %}" alt="avatar"
                                             style="width: 80%; border-radius: 20%">
                                        {% else %}
                                            <img src="{{ request.session.user_info.avtar }}" alt="avatar"
                                             style="width: 80%; border-radius: 20%">
                                        {% endif %}
                                    </div>


                                </div>
                                <div>
                                    <span class="font_gradient">{{ topic_obj.author.username }}</span>

                                </div>

                                <div id="comment_body_div">
                                    <div class="comment-hidden" style="max-height: 500px;">
                                        <p class="mt-3 mb-1">{{ obj.content|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>


    <script>
        function upVoteTopic(topic_sn) {
            if ($.cookie('csrftoken')) {
                $.ajax({
                    url: '/topic/vote?t=' + $.cookie('csrftoken'),
                    type: 'post',
                    data: {'topic_sn': topic_sn, 'vote_action': 'up'},
                    success: function (recv) {
                        recv = JSON.parse(recv);
                        if (recv.changed) {
                            console.log('成功');
                            $('#topic_votes').html(recv.data);
                            location.reload();
                        } else {
                            console.log('失败')
                        }
                    },
                    error: function () {
                        console.log('请求失败')
                    }
                })
            }

        }

        function downVoteTopic(topic_sn) {
            if ($.cookie('csrftoken')) {
                $.ajax({
                    url: '/topic/vote?t=' + $.cookie('csrftoken'),
                    type: 'post',
                    data: {'topic_sn': topic_sn, 'vote_action': 'down'},
                    success: function (recv) {
                        recv = JSON.parse(recv);
                        if (recv.changed) {
                            console.log('成功');
                            $('#topic_votes').html(recv.data);
                            location.reload();
                        } else {
                            console.log('失败')
                        }
                    },
                    error: function () {
                        console.log('请求失败')
                    }
                })
            }

        }

        function favoriteTopic(topic_sn) {
            $.ajax({
                url: '/topic/favorite?t=' + $.cookie('csrftoken'),
                type: 'post',
                data: {'topic_sn': topic_sn},
                success: function (recv) {
                    recv = JSON.parse(recv);
                    if (recv.changed) {
                        console.log('成功');
                        $('#favorite').html(recv.data);
                        location.reload();
                    } else {
                        console.log('失败')
                    }
                },
                error: function () {
                    console.log('请求失败')
                }
            })
        }

        function thankTopic(topic_sn) {
            if ($('#thanks').html() === '已经发送感谢') {
                return
            }
            $.ajax({
                url: '/topic/thanks?t=' + $.cookie('csrftoken'),
                type: 'post',
                data: {'topic_sn': topic_sn},
                success: function (recv) {
                    recv = JSON.parse(recv);
                    if (recv.changed) {
                        console.log('成功');
                        $('#thanks').html(recv.data).attr('onclick', '').addClass('gray');
                        location.reload();
                    }
                },
                error: function () {
                    console.log('请求失败')
                }
            })
        }

    </script>

    <script src="{% static 'sticky_sidebar/jquery.sticky-sidebar.min.js' %}"></script>
    <script>
        $('#sidebar').stickySidebar({
            topSpacing: 0,
            bottomSpacing: 20
        });


    </script>

    <style>
        .sidebar {
            will-change: min-height;
        }

        .sidebar__inner {
            transform: translate(0, 0);
            will-change: position, transform;
        }

    </style>
{% endblock %}