{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}激活邮箱 - 2zzy 爱钻研{% endblock %}
{% block CSS %}
    <style>
        a:active {
            color: #778087;
            text-decoration: none;
            word-break: break-all;
        }
    </style>
{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <br/>
    <br/>
    <br/>
    <div style="text-align: center">

        {% if user_obj %}
            <i class="fas fa-check mb-4" style="color: orange; font-size: 8em"></i>
            <h5>您的邮箱已经成功激活！</h5>
        {% else %}
            <i class="fas fa-exclamation-triangle mb-4" style="color: orange; font-size: 8em"></i>
            <h5>验证码超时或不存在!</h5>
        {% endif %}
    </div>
    <br/>
{% endblock %}